html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  max-width: 600px;
  margin: 0 auto;
  font-family: 'A P-OTF Shin Maru Go Pr6N', 'M PLUS Rounded 1c', sans-serif;
  background-color: #f85127;
  font-style: normal;
}

/* グローバルリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

/**
 custom template
===================== */

/* mainVisual_A */
/* === (ボタン1つパターン) === */
.mainVisual_A {
  position: relative;
  background: #eb340c;
}

.mainVisual_A .mainVisual-button {
  display: flex;
  padding: 0 1.6rem 4rem 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* mainVisual_B */
/* === (ボタン3つ[メインボタン + アンカー2]パターン) === */
.mainVisual_B {
  position: relative;
  background: #ff9d30;
}

.mainVisual_B .mainVisual-button-area {
  display: flex;
  padding: 1.6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  align-self: stretch;
}

.mainVisual_B .mainVisual-anker-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.8rem;
  align-self: stretch;
}

/* mainVisual_A */
/* === (画像内ボタン) === */
.mainVisual_C {
  position: relative;
}

.mainVisual_C .mainVisual-button {
  position: absolute;
  bottom: 3.2rem;
  padding: 0 1.8rem;
  width: 100%;
}

/* grid_A */
/* === (書影３列_ボタンなし) === */
.grid_A {
  display: flex;
  padding: 4rem 1.6rem 6rem 1.6rem;
  flex-direction: column;
  gap: 1.6rem;
  background: #eec800;
}
.grid_A .grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem 0.8rem;
  list-style: none;
}

.grid_A .grid-item {
  border: 2px solid #420403;
}

.grid_A .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* grid_A_frame */
/* === (書影３列_ボタンなし/枠付き) === */
.grid_A_frame {
  display: flex;
  padding: 4rem 1.6rem 6rem 1.6rem;
  flex-direction: column;
  gap: 1.6rem;
  background: #eec800;
}
.grid_A_frame .grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem 0.8rem;
  list-style: none;
  padding: 3rem 2.5rem;
  border-radius: 20px;
  background-color: #fff;
}

.grid_A_frame .grid-item {
  border: 2px solid #420403;
}

.grid_A_frame .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* grid_B */
/* === (書影３列_ボタン１) === */
.grid_B {
  display: flex;
  padding: 3rem 1rem 7.5rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 2.8rem;
  align-self: stretch;
  background: url(./images/bg/bg1.png);
  background-size: cover;
}

.grid_B .grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 2.5rem 1rem;
  border-radius: 2rem;
  background: #fff;
}

.grid_B .grid-item {
  display: flex;
  padding: 0.25rem;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.grid_B .grid-item .grid-item-button {
  width: 100%;
  display: flex;
  padding: 0.8rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  border: 1px solid #af3421;
  background: #f64998;
  box-shadow:
    0px -3px 0px 0px #e83081 inset,
    0px 1.5px 0px -2px #fffbad,
    0px 1.5px 1.5px 0px rgba(251, 40, 40, 0.25);
  color: #fff;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 0.4px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 12.74px */
}

/* detail_A */
/* === (テキスト内リンク有) === */
.detail_A h2 {
  max-width: 280px;
  width: 100%;
}

.detail_A .detail-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail_A {
  position: relative;
  display: flex;
  padding: 4rem 1.6rem;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  background: #c4c4c4;
}

.detail_A .detail-item {
  position: relative;
  display: flex;
  margin-top: calc(16px + 8px);
  padding: 3.2rem 2.4rem 2.4rem 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  align-self: stretch;
  border-radius: 1.6rem;
  border: 2px solid #f50;
  background: #fff;
}

.detail_A .detail-item--notice {
  gap: 1.2rem;
}

.detail_A .detail-item h3 {
  position: absolute;
  top: -19px;
  display: flex;
  padding: 0 1.6rem;
  align-items: center;
  gap: 0.8rem;
  border-radius: 100vmax;
  border: 2px solid #fff;
  background: #f50;
  color: #f8efe6;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
}

.detail_A .detail-item p {
  color: #420403;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}

.detail_A .detail-item a {
  color: #ff9123;
  text-decoration-line: underline;
}

.detail_A .detail-item .notice {
  color: #420403;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  list-style: disc;
}

.detail_A .detail-item .notice-list {
  width: 100%;
  padding: 1.6rem 1.6rem 1.6rem calc(1.6rem + 1em);
  border-radius: 1.6rem;
  border: 0.5px solid #000;
  background: #fff;
  list-style: disc;
  color: #232323;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 180%; /* 21.6px */
}

/* detail_B */
/* === (テキスト内リンク無) === */
.detail_B h2 {
  max-width: 280px;
  width: 100%;
}

.detail_B .detail-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.detail_B {
  position: relative;
  display: flex;
  padding: 3.2rem 1.6rem 2.4rem 1.6rem;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  align-self: stretch;
  background: #420403;
}

.detail_B .detail-item {
  position: relative;
  display: flex;
  margin-top: calc(16px + 8px);
  padding: 3.2rem 2.4rem 2.4rem 2.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  align-self: stretch;
  border: 4px solid #420403;
  background: #f8efe6;
}

.detail_B .detail-item--notice {
  gap: 1.2rem;
}

.detail_B .detail-item h3 {
  position: absolute;
  top: -19px;
  display: flex;
  padding: 0 1.6rem;
  align-items: center;
  gap: 0.8rem;
  border: 3px solid #420403;
  background: #f85127;
  color: #f8efe6;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
}

.detail_B .detail-item p {
  color: #420403;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}

.detail_B .detail-item .notice {
  color: #420403;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  list-style: disc;
}
